mixin order-item(model)
    .order-item
        .order-item__number=model.number
        .order-item__card
            img.order-item__icon(width="128" height="128" src=model.image, alt=model.title)
            h3.order-item__title=model.title 
            p.order-item__description=model.description
        